
{{#each posts}}
<section>
<a style="color: black" class="mt-2" href="/post/{{ id }}">
    {{ title }}
    <span>{{ user.username }}</span>
</a>
<div class="m-1">
    {{ post_text }}
</div>
<div class="mb-3">
    {{ created_at }}
</div>
</section>
{{/each}}